@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
}

:root{
    --dark-color:rgb(136, 23, 146);
}
body{
    background: var(--dark-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.wrapper{
    width: 350px;
    color: var(--dark-color);
    background-color: white;
    padding: 25px;
}

.wrapper h2{
    font-size: 30px;
}

.wrapper p{
   padding: 20px 0;
}

form input{
    width: 100%;
    outline: none;
    border: 1px solid var(--dark-color);
    padding:10px;
    font-size: 17px;
}

form button{
    width: 100%;
    margin-top: 10px;
    padding: 10px 0;
    font-size: 17px;
    text-transform: uppercase;
    background-color: var(--dark-color);
    border: none;
    outline: none;
    color:white;
    opacity: 0.7;
    pointer-events: none;
}

form input:valid ~ button{
    opacity: 1;
    pointer-events: auto;
}

form input:focus{
    box-shadow: 2px 2px 10px rgb(180, 180, 180);
}

.qr-code{
    width: 100%;
    border: 1px solid var(--dark-color);
    margin-top: 25px;
    padding: 20px;
    pointer-events: none;
    display: none;
}
.qr-code.active{
    display: block;
}
.qr-code img{
    width: 100%;
    height: 100%;
}